@media (max-width: 480px) {
    path {
        fill: pink;
    }
}

@media (min-width: 481px) {
    path {
        fill: green;
    }
}

@media (min-width: 1024px) {
    path {
        fill: purple;
    }
}